<h1 style="text-align: center;color: orange;">Login</h1>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-3">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Username:</label>
                        <input placeholder="Enter your username" type="text" class="form-control"name="Username" [(ngModel)]="Username">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Password::</label>
                        <input placeholder="Enter your password"type="password" name="Password" id="" class="form-control" [(ngModel)]="Password">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-success"(click)="readLogin()">Login</button>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <a routerLink="/signUp">New user?</a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <a routerLink="/dashboard">Go-to-Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>