<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img height="300px" src="https://m.media-amazon.com/images/I/716QifRLW+L._SX3000_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img height="300px"src="https://m.media-amazon.com/images/I/81ZwlPil2YL._SX3000_.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="300px"src="https://m.media-amazon.com/images/I/71vcu0NPPIL._SX3000_.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/615NY3QlbiL._AC_SY200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">ExclusiveLane Earthenware Terracotta Pots Flower Vases for Living Room (8.9 cm x 8.9 cm x 15.2 cm, White)</h5>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/51SgDu27yFL._AC_SY200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Desidiya ® 20 Photo Clip LED String Lights for Photo Hanging, Birthday, Festival, Wedding, Party for Home, Patio, Lawn, Restaurants Home Decoration (Warm White)</h5>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/515jA106Y7L._AC_SY200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Desidiya 12 Stars Led Diwali Lights Curtain String Lights Window Curtain Led Lights For Decoration With 8 Flashing For Christmas, Home, Patio Lawn ( Warm White)(Pack Of 1)</h5>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/31Kk2yy1x5L._AC_SY200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">DesiDiya® Hanging Tulip Cone Disc Ceiling Light Lamp Home Decor Items, Hanging Ceiling Decorative Chandelier Home, Living Room, Indoor Outdoor Jhumar Lighing, 40 Watts,(Bulb Not Included, Black)</h5>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>